@model Lab.EF.MVC.Models.UsuariosView[]
@{
    ViewBag.Title = "Listado de Usuarios";
}

<h2>Listado de Usuarios</h2>

<table class="table table-striped">
    <thead>
        <tr class="table-primary">
            <td scope="col">Nombre</td>
            <td scope="col">Usuario</td>
            <td scope="col">Email</td>
            <td scope="col">Apartamento</td>
            <td scope="col">Cuidad</td>
            <td scope="col">Calle</td>
            <td scope="col">Telefono</td>
            <td scope="col">Sitio Web</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.Address.Suite</td>
            <td>@item.Address.City</td>
            <td>@item.Address.Street</td>
            <td>@item.Phone</td>
            <td>@item.WebSite</td>
        </tr>
    }
</table>