@model Lab.EF.MVC.Models.CategoriasView
@{
    ViewBag.Title = "Eliminar Categoria";
}

<h2>Eliminar Categoria</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(c => c.Id)
    @Html.LabelFor(c => c.Nombre)
    <br />
    @Html.TextBoxFor(c => c.Nombre, new { disabled = "disabled" })
    <br />
    <br />
    @Html.LabelFor(c => c.Descripcion)
    <br />
    @Html.TextBoxFor(c => c.Descripcion, new { disabled = "disabled" })
    <br />
    <br />
    <input class="btn btn-danger" type="submit" value="Eliminar" />
    <input class="btn btn-primary" type="button" value="Cancelar"
           onclick="location.href='@Url.Action("VolverPaginaPrincipal","Categorias")'" />
}