@model Lab.EF.MVC.Models.CategoriasView
@{
    ViewBag.Title = "Modificar Categoria";
}

<h1>Modificar Categoria</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(c => c.Id)
    @Html.LabelFor(c => c.Nombre)
    <br />
    @Html.TextBoxFor(c => c.Nombre)
    @Html.ValidationMessageFor(c => c.Nombre, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.LabelFor(c => c.Descripcion)
    <br />
    @Html.TextBoxFor(c => c.Descripcion)
    <br />
    <br />
    <input class="btn btn-primary" type="submit" value="Modificar" />
    <input class="btn btn-primary" type="button" value="Cancelar"
           onclick="location.href='@Url.Action("VolverPaginaPrincipal","Categorias")'" />
}