@model List<Lab.EF.Logica.Categorias.CategoriasDto>
@{
    ViewBag.Title = "Categorias";
}

<h1>Listado de Categorias</h1>

<table class="table table-striped">

    <tr>
        @Html.ActionLink("Insertar Categoria", "Insertar", "Categorias"
          , new { @class = "btn btn-success" })
    </tr>
    <br />
    <br />
    <thead>
        <tr class="table-primary">
            <td scope="col">Nombre</td>
            <td scope="col">Descripcion</td>
            <td scope="col">Eliminar</td>
            <td scope="col">Modificar</td>
        </tr>
    </thead>

    @foreach (var categorias in Model)
    {
        <tr>
            <td>@categorias.Nombre</td>
            <td>@categorias.Descripcion</td>
            <td scope="col">
                @Html.ActionLink("Eliminar", "EliminarCategoria",
                new { Id = categorias.Id }, new { @class = "btn btn-danger" })
            </td>
            <td scope="col">
                @Html.ActionLink("Modificar", "Modificar",
                new { Id = categorias.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>