@model List<Lab.EF.Logica.Categorias.CategoriasDto>
@{
    ViewBag.Title = "Categorias";
}

<h1>Listado de Categorias</h1>

<table class="table-responsive">

    <tr>
        <td>Nombre</td>
        <td>Descripcion</td>
        <td>Eliminar</td>
    </tr>

    @foreach (var categorias in Model)
    {
        <tr>
            <td>@categorias.Nombre</td>
            <td>@categorias.Descripcion</td>
            <td>@Html.ActionLink("Eliminar", "EliminarCategoria", 
               new { Id = categorias.Id })</td>
            <td>@Html.ActionLink("Modificar", "ModificarCategoria", 
               new { Id = categorias.Id })</td>
        </tr>

    }

    @Html.ActionLink("Insertar Categoria", "InsertarCategoria", "Categorias")
</table>